[Desktop Entry]
Version=1.0
Type=Application
Name=CoolOS Terminal
Comment=Open a terminal window
Exec=lxterminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;command;line;shell;
StartupNotify=true
